<!DOCTYPE html>
<html>
<head>
    <title>A Plea for Red Wolves</title>
    <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <styles type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    <script src="animalpagination.js" type="text/javascript"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <header>
                    <h1>A Plea for Red Wolves</h1>
                  
                </header>
            </div>
        </div>
    </div>
   
    <div>
        <section id="intro">
            
        </section>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="span10 offset3">
                <ul class="pagination">
                 
                    <li class="animalbutton active" data-id="1" rel="redwolf"><a href='#'>Red Wolves</a></li>
                    <li class="animalbutton" data-id="2" rel="graywolf"><a href='#'>Gray Wolves</a></li>
                    <li class="animalbutton" data-id="3" rel="coyote"><a href='#'>Coyotes</a></li>
                    <li class="animalbutton" data-id="4" rel="hybrid"><a href='#'>Hybrids</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="animal active" id="redwolf">
            <section>
                <h2>Red Wolves</h2>
                <p>
                </p>
                <h3></h3>
                <p></p>
                <h3></h3>
                <p></p>
                <h3></h3>
                <p>
                
                </p>
                <h3></h3>      
                <p></p>
                <p>
                    
                </p>
            </section>
            <aside></aside>
        </div>

        <div class="animal" id="graywolf">
            <section>
                <h2>Gray Wolves</h2>
                <p>
             
                </p>
                <h3></h3>
                <p></p>
                <h3></h3>
                <p></p>
                <h3></h3>
                <p></p>
                <p></p>
            </section>
            <aside></aside>
        </div>

        <div class="animal" id="coyote">
            <section>
                <h2>Coyotes</h2>
                <p>
                   
                </p>
                <h3>Appearence</h3>
                <p></p>
                <p></p>
            </section>
            <aside></aside>
        </div>

        <div class="animal" id="hybrid">
            <section>
                <h2>Coywolves, Coydogs, Wolfdogs and the Disputed Red Wolf</h2>
                <p></p>
                <p></p>
            </section>
            <aside></aside>
        </div>
    </div>
  >
    <footer>
       
    </footer>
   
</body>
</html>
